<div class="container">
  <h1 class="title">
    {{ 'PAGES.DETAIL.TITLE' | translate }}
  </h1>
  <!--<form [formGroup]="addForm">
    <label>Your Name</label>
    <input formControlName="name" />
    <br>
    <br>
    <label>Your email id</label>
    <input type="email" formControlName="emailid" />
    <br>
    <br>
    <button (click)="saveForm()" type="submit">Save Form</button>
    <button (click)="listAll()" type="submit">List Form</button>
  </form>-->

  <a routerLink="/">{{ 'PAGES.DETAIL.BACK_TO_HOME' | translate }}</a>
  <a routerLink="/database">{{ 'PAGES.DATABASE.TITLE' | translate }}</a>
</div>
